<div class="bg-white -mt-8">
<!-- first section-->
  <div class="row">
    <!-- Wording Profil-->
    <div class="col-12 col-md--8 offset-md-3">
      <div class="font-bold h-12 d-flex justify-items-end">
        <span class="">TABLEAU DE BORD</span>
        <span class="hover:underline">PROFIL</span>
        <span class="">ECOLE CONNECTEE</span>
        <span class="">PARAMETRES</span>
      </div>
    </div>
    <!-- dashboard-->
    <div class="h-24 bg-blue-400">
      <p class="my-10 mx-auto">
        <i class="fa fa-home"></i> Tableau de bord
      </p>
    </div>

  <div class="col-12 col-md-7 col-lg-7">
    <div class="offset-md-1 md:mt-16">
      <%= render "devise/shared/card_user" %>
    </div>
  </div>

    <div class="col-12 col-md-3 col-lg-3">
    <p class="">Mais je ne sais pas ce qui va se passer avec mon entreprise, alors comment puis-je montrer mes finances?"

Ma réponse est généralement: «Comment comptez-vous amener les investisseurs à investir dans votre entreprise si vous ne savez pas ce qui va se passer?»</p>
    </div>
  </div>
</div>
