<!-- row authpr infos !-->
<div class="row">
  <!-- col auther infos !-->
  <div class="col-12 col-md-6 col-lg-6 offset-md-1">
    <div class="card ">
      <!-- avatar data/!-->
      <div class="flex items-cente mt-4 ml-6">
        <img class="w-10 h-10 bg-gray-400 rounded-full">
        <div class="text-sm ml-4">
          <!-- Username/!-->
          <p class="text-gray-900 leading-none capitalize font-bold">
            kamate vakaramoko
            <!-- course material-->
            <p class="font-thin text-sm hover:bg-white hover:underline"> · Prof de
              <span class="capitalize">Math</span>
            </p>
          </p>
          <!-- User Edit-->
          <div class="">
            <% content_for @title = current_user.username  %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
