<p class= "bg-red-400">
Genius is what genius does. Professors spend the better part of their waking days interacting with intelligence at the upper tail of the distribution, so an unusually adroit bit of intelligence will catch any professor’s eye. Alas, anybody with experience also has seen many a charlatan, so skepticism always comes first. I may recognize genius quickly, but I will test it many times before I conclude it is truly there.
</p>
