 <div class="font-bold">
    Look at David Solomon. He is neither an MBA grad nor a JD. He didn't even attend an Ivy League for his bachelor degree. Yet he managed to become the CEO of the Wall Street giant, Goldman Sachs.</div>
