  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="text-center mb-4 font-bold text-3xl">Edition du Contenu </h1>
        <div class="mx-auto">
          <%= render 'form', course: @course %>
        </div>

      </div>
    </div>
  </div>
<%= link_to 'Afficher', @course %> |
<%= link_to 'Annuler', courses_path %>

