
<%= bootstrap_form_for([@course, @course.exercices.build], remote: true) do |f| %>


  <div class="form-inputs">

    <%= f.text_field :title, label:"References Unique du sujet", placeholder:"Reference du sujet", id:"exerciceTitle" %>
  </div>

  <div class="form-inputs">

    <%= f.rich_text_area :content_exercice, label: 'Contenu:', class: "customized-min-height", placeholder: "Le contenu du cours", id:"exerciceContent" %>
  </div>

  <div class="actions mt-2">
    <%= f.submit "Ajoute Exercice", class:"btn btn-outline-primary font-bold" %>
  </div>
<% end %>
